In [1]:
import sys
import os
%load_ext autoreload
%autoreload 2

sys.path.append('../')
os.chdir('../')

In [2]:
import re

string = "res=[0, 1, 2, 5]"
pattern = r"res=\[(.*?)\]"
result = re.findall(pattern, string)[0]
lst = [int(num) for num in result.split(", ")]
print(lst)

[0, 1, 2, 5]

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import re

critical_keys1 = ['parity', 'paridy']
critical_keys2 = ['nc']

global_path = './outputs'

for c1 in critical_keys1:
    for c2 in critical_keys2:
        for c2_value in [True, False]:
            all_result_paths = glob.glob(global_path + '/pari*_exp/**/result.csv', recursive=True)
            all_result_paths = [p for p in all_result_paths if c1 in p]
            all_result_paths = [p for p in all_result_paths if (c2 in p)==c2_value]

            result_summary = {}
            n_layers = 6
            for result_path in all_result_paths:
                result = pd.read_csv(result_path)
                top_test_result = result['test_acc'].max()
                pe_type = 'NoPE' if 'nope' in result_path else 'Original'
                pattern = r"res=\[(.*?)\]"
                residual_list = re.findall(pattern, result_path)
                if len(residual_list) == 0:
                    residual_list = np.arange(n_layers)
                else:
                    residual_list = residual_list[0]
                    residual_list = [int(num) for num in residual_list.split(", ")] if residual_list!='' else []
                # residual_list = [int(num) for num in residual_list.split(", ")]
                missing_rc = [i for i in range(n_layers) if i not in residual_list]
                missing_rc_str = '{' + ','.join([str(i) for i in missing_rc])+ '}'


                if pe_type not in result_summary:
                    result_summary[pe_type] = {}
                if missing_rc_str not in result_summary[pe_type]:
                    result_summary[pe_type][missing_rc_str] = []
                result_summary[pe_type][missing_rc_str].append(top_test_result)
                if pe_type == 'Original' and missing_rc_str == '{5}':
                    print(result_path, pe_type, missing_rc_str, top_test_result)

            from ast import literal_eval
            mean_results = {}
            for pe_type in result_summary:
                cur_type_dict = result_summary[pe_type].copy()
                for missing_rc in cur_type_dict:
                    cur_type_dict[missing_rc] = len(cur_type_dict[missing_rc])
                mean_results[pe_type] = cur_type_dict

            df = pd.DataFrame(mean_results)
            missing0 = ['{}']
            missing1 = [str({i}) for i in range(n_layers)]
            missing2 = ['{' + ','.join([str(i), str(i+1)])+ '}'for i in range(n_layers-1)]
            missing3 = ['{' + ','.join([str(i), str(i+1), str(i+2)])+ '}'for i in range(n_layers-2)]
            missing4 = ['{' + ','.join([str(i), str(i+1), str(i+2), str(i+3)])+ '}'for i in range(n_layers-3)]
            missing5 = ['{' + ','.join([str(i), str(i+1), str(i+2), str(i+3), str(i+4)])+ '}'for i in range(n_layers-4)]
            from IPython.display import display
            display(df.loc[missing0,:].T)
            display(df.loc[missing1,:].T)
            display(df.loc[missing2,:].T)
            display(df.loc[missing3,:].T)
            display(df.loc[missing4,:].T)
            display(df.loc[missing5,:].T)
            num_seeds = df.values.min()


            from collections import OrderedDict
            final_results = OrderedDict()
            for pe_type in {'Original', 'NoPE'}:
                cur_type_dict = result_summary[pe_type].copy()
                final_dict = {
                    'min': cur_type_dict.copy(),
                    'max': cur_type_dict.copy(),
                    'avg.': cur_type_dict.copy(),
                }
                for missing_rc in cur_type_dict:
                    final_dict['avg.'][missing_rc] = np.mean(cur_type_dict[missing_rc])
                    final_dict['min'][missing_rc] = np.min(cur_type_dict[missing_rc])
                    final_dict['max'][missing_rc] = np.max(cur_type_dict[missing_rc])

                for k in final_dict:
                    final_results[pe_type+' ('+k+')'] = final_dict[k]

            df = pd.DataFrame(final_results)
            missing1 = [str({i}) for i in range(n_layers)]
            missing2 = ['{' + ','.join([str(i), str(i+1)])+ '}'for i in range(n_layers-1)]
            missing3 = ['{' + ','.join([str(i), str(i+1), str(i+2)])+ '}'for i in range(n_layers-2)]
            missing4 = ['{' + ','.join([str(i), str(i+1), str(i+2), str(i+3)])+ '}'for i in range(n_layers-3)]
            missing5 = ['{' + ','.join([str(i), str(i+1), str(i+2), str(i+3), str(i+4)])+ '}'for i in range(n_layers-4)]
            from IPython.display import display
            r1 = df.loc[missing1,:].T
            r2 = df.loc[missing2,:].T
            r3 = df.loc[missing3,:].T
            r4 = df.loc[missing4,:].T
            r5 = df.loc[missing5,:].T
            r0 = df.loc[['{}'],:].T
            display(r0)
            display(r1)
            display(r2)
            display(r3)
            display(r4)
            display(r5)

            # write all 3 to the same csv file
            all_r = pd.concat([r0, r1, r2, r3, r4, r5], axis=1)
            c2 = '_' + c2 if c2_value else ''
            all_r.to_csv(f'{c1}{c2}_{num_seeds}seeds.csv')

./outputs/parity_nc_residual_exp/parity_nc_sd240_T2403281738_res=[0, 1, 2, 3, 4]_ncTrue/parity_nc_sd240_T2403281738_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 99.5

          {}
Original   1
NoPE       1

          {0}  {1}  {2}  {3}  {4}  {5}
Original    1    1    1    1    1    1
NoPE        1    1    1    1    1    1

          {0,1}  {1,2}  {2,3}  {3,4}  {4,5}
Original      1      1      1      1      1
NoPE          1      1      1      1      1

          {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original        1        1        1        1
NoPE            1        1        1        1

          {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original          1          1          1
NoPE              1          1          1

          {0,1,2,3,4}  {1,2,3,4,5}
Original            1            1
NoPE                1            1

                    {}
Original (min)   99.30
Original (max)   99.30
Original (avg.)  99.30
NoPE (min)       99.65
NoPE (max)       99.65
NoPE (avg.)      99.65

                   {0}    {1}    {2}    {3}    {4}    {5}
Original (min)   99.65  99.95  99.50  99.05  99.95  99.50
Original (max)   99.65  99.95  99.50  99.05  99.95  99.50
Original (avg.)  99.65  99.95  99.50  99.05  99.95  99.50
NoPE (min)       99.65  99.95  99.95  98.10  99.95  99.95
NoPE (max)       99.65  99.95  99.95  98.10  99.95  99.95
NoPE (avg.)      99.65  99.95  99.95  98.10  99.95  99.95

                 {0,1}  {1,2}  {2,3}  {3,4}  {4,5}
Original (min)   99.05  99.95  99.95  99.20  99.95
Original (max)   99.05  99.95  99.95  99.20  99.95
Original (avg.)  99.05  99.95  99.95  99.20  99.95
NoPE (min)       99.95  99.65  99.95  99.95  99.95
NoPE (max)       99.95  99.65  99.95  99.95  99.95
NoPE (avg.)      99.95  99.65  99.95  99.95  99.95

                 {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original (min)     99.55    99.65    99.95    99.45
Original (max)     99.55    99.65    99.95    99.45
Original (avg.)    99.55    99.65    99.95    99.45
NoPE (min)         99.95    99.95    99.95    99.55
NoPE (max)         99.95    99.95    99.95    99.55
NoPE (avg.)        99.95    99.95    99.95    99.55

                 {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original (min)       99.95      99.95      99.95
Original (max)       99.95      99.95      99.95
Original (avg.)      99.95      99.95      99.95
NoPE (min)           94.10      97.75      99.95
NoPE (max)           94.10      97.75      99.95
NoPE (avg.)          94.10      97.75      99.95

                 {0,1,2,3,4}  {1,2,3,4,5}
Original (min)         99.95        99.80
Original (max)         99.95        99.80
Original (avg.)        99.95        99.80
NoPE (min)             99.95        99.95
NoPE (max)             99.95        99.95
NoPE (avg.)            99.95        99.95

./outputs/parity_residual_exp/parity_sd240_T2403281415_res=[0, 1, 2, 3, 4]/parity_sd240_T2403281415_res=[0, 1, 2, 3, 4]/result.csv Original {5} 99.65
./outputs/parity_residual_exp/parity_sd241_T2403282128_res=[0, 1, 2, 3, 4]/parity_sd241_T2403282128_res=[0, 1, 2, 3, 4]/result.csv Original {5} 99.65

          {}
Original   2
NoPE       1

          {0}  {1}  {2}  {3}  {4}  {5}
Original    2    2    2    2    2    2
NoPE        2    2    2    2    2    2

          {0,1}  {1,2}  {2,3}  {3,4}  {4,5}
Original      2      2      2      2      2
NoPE          2      2      2      2      2

          {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original        2        2        2        2
NoPE            2        2        2        2

          {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original          2          2          2
NoPE              2          2          2

          {0,1,2,3,4}  {1,2,3,4,5}
Original            2            2
NoPE                2            2

                    {}
Original (min)   99.55
Original (max)   99.95
Original (avg.)  99.75
NoPE (min)       99.65
NoPE (max)       99.65
NoPE (avg.)      99.65

                   {0}     {1}     {2}     {3}     {4}    {5}
Original (min)   99.45  99.600  99.200  99.550  99.450  99.65
Original (max)   99.55  99.650  99.650  99.800  99.650  99.65
Original (avg.)  99.50  99.625  99.425  99.675  99.550  99.65
NoPE (min)       99.65  99.450  99.650  99.550  99.200   0.00
NoPE (max)       99.65  99.650  99.650  99.600  99.950  99.90
NoPE (avg.)      99.65  99.550  99.650  99.575  99.575  49.95

                  {0,1}   {1,2}   {2,3}  {3,4}   {4,5}
Original (min)   99.550  99.600  99.300  99.55  99.600
Original (max)   99.600  99.650  99.650  99.65  99.650
Original (avg.)  99.575  99.625  99.475  99.60  99.625
NoPE (min)       99.600  99.200  99.050  99.35  99.850
NoPE (max)       99.600  99.550  99.650  99.65  99.950
NoPE (avg.)      99.600  99.375  99.350  99.50  99.900

                 {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original (min)    99.300   99.600   99.200   93.050
Original (max)    99.550   99.650   99.950   99.900
Original (avg.)   99.425   99.625   99.575   96.475
NoPE (min)        99.600   99.600   99.100   65.400
NoPE (max)        99.650   99.650   99.450   95.900
NoPE (avg.)       99.625   99.625   99.275   80.650

                 {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original (min)        99.7      51.40     51.050
Original (max)        99.9      99.70     51.200
Original (avg.)       99.8      75.55     51.125
NoPE (min)            99.4      51.20     51.200
NoPE (max)            99.6      52.00     51.500
NoPE (avg.)           99.5      51.60     51.350

                 {0,1,2,3,4}  {1,2,3,4,5}
Original (min)        50.950       51.400
Original (max)        51.500       51.650
Original (avg.)       51.225       51.525
NoPE (min)            51.400       51.200
NoPE (max)            52.000       51.500
NoPE (avg.)           51.700       51.350

./outputs/paridy_nc_residual_exp/paridy_nc_sd240_T2403272148_res=[0, 1, 2, 3, 4]_ncTrue/paridy_nc_sd240_T2403272148_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 96.3
./outputs/paridy_nc_residual_exp/paridy_nc_sd241_T2403281829_res=[0, 1, 2, 3, 4]_ncTrue/paridy_nc_sd241_T2403281829_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 99.2

          {}
Original   2
NoPE       2

          {0}  {1}  {2}  {3}  {4}  {5}
Original    2    2    2    2    2    2
NoPE        2    2    2    2    2    2

          {0,1}  {1,2}  {2,3}  {3,4}  {4,5}
Original      2      2      2      2      2
NoPE          2      2      2      2      2

          {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original        5        2        2        2
NoPE            5        2        2        2

          {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original          2          2          2
NoPE              2          2          2

          {0,1,2,3,4}  {1,2,3,4,5}
Original            2            2
NoPE                2            2

                    {}
Original (min)   93.75
Original (max)   95.45
Original (avg.)  94.60
NoPE (min)       52.05
NoPE (max)       52.85
NoPE (avg.)      52.45

                    {0}     {1}     {2}     {3}    {4}     {5}
Original (min)   87.300  96.200  94.150  97.400  98.20  96.300
Original (max)   94.600  96.500  99.000  98.450  99.10  99.200
Original (avg.)  90.950  96.350  96.575  97.925  98.65  97.750
NoPE (min)       52.650  52.050  54.100  50.950  50.20  54.100
NoPE (max)       53.300  52.500  55.100  56.150  54.10  54.150
NoPE (avg.)      52.975  52.275  54.600  53.550  52.15  54.125

                  {0,1}   {1,2}   {2,3}   {3,4}  {4,5}
Original (min)   97.700  97.600  96.750  97.000  93.80
Original (max)   98.050  98.800  98.800  99.300  94.90
Original (avg.)  97.875  98.200  97.775  98.150  94.35
NoPE (min)       54.100  52.050  51.300  50.300  50.15
NoPE (max)       56.850  52.300  52.150  51.450  50.95
NoPE (avg.)      55.475  52.175  51.725  50.875  50.55

                 {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original (min)     96.85    98.20   96.700   93.250
Original (max)     98.80    98.80   99.050   94.100
Original (avg.)    97.94    98.50   97.875   93.675
NoPE (min)         54.65    50.85   50.200   49.900
NoPE (max)         56.30    51.95   51.650   51.450
NoPE (avg.)        55.87    51.40   50.925   50.675

                 {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original (min)      97.500      95.05     82.250
Original (max)      98.450      98.15     83.700
Original (avg.)     97.975      96.60     82.975
NoPE (min)          54.350      50.45     50.450
NoPE (max)          56.050      51.45     51.650
NoPE (avg.)         55.200      50.95     51.050

                 {0,1,2,3,4}  {1,2,3,4,5}
Original (min)        96.700       83.500
Original (max)        98.300       95.650
Original (avg.)       97.500       89.575
NoPE (min)            51.400       51.350
NoPE (max)            51.450       52.050
NoPE (avg.)           51.425       51.700

./outputs/paridy_residual_exp/paridy_sd240_T2403271715_res=[0, 1, 2, 3, 4]/paridy_sd240_T2403271715_res=[0, 1, 2, 3, 4]/result.csv Original {5} 99.15
./outputs/paridy_residual_exp/paridy_sd241_T2403281234_res=[0, 1, 2, 3, 4]/paridy_sd241_T2403281234_res=[0, 1, 2, 3, 4]/result.csv Original {5} 99.2

          {}
Original   3
NoPE       3

          {0}  {1}  {2}  {3}  {4}  {5}
Original    2    2    2    2    2    2
NoPE        2    2    2    2    2    2

          {0,1}  {1,2}  {2,3}  {3,4}  {4,5}
Original      3      3      3      2      2
NoPE          2      2      2      2      2

          {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original        5        3        3        3
NoPE            5        2        2        2

          {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original          3          3          3
NoPE              2          2          2

          {0,1,2,3,4}  {1,2,3,4,5}
Original            3            3
NoPE                2            2

                        {}
Original (min)   97.400000
Original (max)   98.700000
Original (avg.)  98.266667
NoPE (min)       87.850000
NoPE (max)       96.250000
NoPE (avg.)      92.583333

                    {0}     {1}    {2}     {3}     {4}     {5}
Original (min)   95.700  93.350  98.40  99.150  99.050  99.150
Original (max)   98.400  98.750  98.90  99.400  99.400  99.200
Original (avg.)  97.050  96.050  98.65  99.275  99.225  99.175
NoPE (min)       90.950  75.550  73.85  99.150  99.000  94.650
NoPE (max)       98.800  86.200  82.55  99.200  99.150  99.300
NoPE (avg.)      94.875  80.875  78.20  99.175  99.075  96.975

                  {0,1}      {1,2}   {2,3}   {3,4}   {4,5}
Original (min)   78.400  98.600000  95.400  99.450  99.300
Original (max)   99.100  99.150000  99.100  99.500  99.750
Original (avg.)  91.300  98.916667  97.850  99.475  99.525
NoPE (min)       67.850  72.600000  75.000  98.600  97.750
NoPE (max)       77.500  91.050000  88.650  99.350  99.100
NoPE (avg.)      72.675  81.825000  81.825  98.975  98.425

                 {0,1,2}    {1,2,3}  {2,3,4}    {3,4,5}
Original (min)     95.05  98.550000   99.250  99.100000
Original (max)     99.15  99.500000   99.400  99.600000
Original (avg.)    98.30  99.033333   99.300  99.316667
NoPE (min)         51.95  98.750000   91.400  84.650000
NoPE (max)         94.10  99.250000   99.350  92.050000
NoPE (avg.)        80.91  99.000000   95.375  88.350000

                 {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original (min)   98.650000  67.100000      51.35
Original (max)   99.200000  98.700000      81.45
Original (avg.)  98.966667  88.116667      61.70
NoPE (min)       54.750000  75.850000      51.35
NoPE (max)       85.800000  98.900000      52.85
NoPE (avg.)      70.275000  87.375000      52.10

                 {0,1,2,3,4}  {1,2,3,4,5}
Original (min)         51.00    51.350000
Original (max)         86.15    52.300000
Original (avg.)        73.35    51.666667
NoPE (min)             51.80    50.100000
NoPE (max)             56.40    52.300000
NoPE (avg.)            54.10    51.200000