In [1]:
import sys
import os
%load_ext autoreload
%autoreload 2

sys.path.append('../')
os.chdir('../')

In [2]:
import re

string = "res=[0, 1, 2, 5]"
pattern = r"res=\[(.*?)\]"
result = re.findall(pattern, string)[0]
lst = [int(num) for num in result.split(", ")]
print(lst)

[0, 1, 2, 5]

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import re

critical_keys1 = ['mod3', 'modp', 'mods']
critical_keys2 = ['nc']

global_path = './outputs'

all_dfs = []

for c1 in critical_keys1:
    for c2 in critical_keys2:
        for c2_value in [True, False]:
            all_result_paths = glob.glob(global_path + '/mod*_exp/**/result.csv', recursive=True)
            all_result_paths = [p for p in all_result_paths if c1 in p]
            all_result_paths = [p for p in all_result_paths if (c2 in p)==c2_value]

            result_summary = {}
            n_layers = 6
            for result_path in all_result_paths:
                result = pd.read_csv(result_path)
                top_test_result = result['test_acc'].max()
                pe_type = 'NoPE' if 'nope' in result_path else 'Original'
                pattern = r"res=\[(.*?)\]"
                residual_list = re.findall(pattern, result_path)[0]
                residual_list = [int(num) for num in residual_list.split(", ")] if residual_list!='' else []
                # residual_list = [int(num) for num in residual_list.split(", ")]
                missing_rc = [i for i in range(n_layers) if i not in residual_list]
                missing_rc_str = '{' + ','.join([str(i) for i in missing_rc])+ '}'


                if pe_type not in result_summary:
                    result_summary[pe_type] = {}
                if missing_rc_str not in result_summary[pe_type]:
                    result_summary[pe_type][missing_rc_str] = []
                result_summary[pe_type][missing_rc_str].append(top_test_result)
                if pe_type == 'Original' and missing_rc_str == '{5}':
                    print(result_path, pe_type, missing_rc_str, top_test_result)

            from ast import literal_eval
            mean_results = {}
            for pe_type in result_summary:
                cur_type_dict = result_summary[pe_type].copy()
                for missing_rc in cur_type_dict:
                    cur_type_dict[missing_rc] = len(cur_type_dict[missing_rc])
                mean_results[pe_type] = cur_type_dict

            df = pd.DataFrame(mean_results)
            missing0 = ['{}']
            missing1 = [str({i}) for i in range(n_layers)]
            missing2 = ['{' + ','.join([str(i), str(i+1)])+ '}'for i in range(n_layers-1)]
            missing3 = ['{' + ','.join([str(i), str(i+1), str(i+2)])+ '}'for i in range(n_layers-2)]
            missing4 = ['{' + ','.join([str(i), str(i+1), str(i+2), str(i+3)])+ '}'for i in range(n_layers-3)]
            missing5 = ['{' + ','.join([str(i), str(i+1), str(i+2), str(i+3), str(i+4)])+ '}'for i in range(n_layers-4)]
            missing6 = ['{' + ','.join([str(i), str(i+1), str(i+2), str(i+3), str(i+4), str(i+5)])+ '}'for i in range(n_layers-5)]
            from IPython.display import display
            display(df.loc[missing0,:].T)
            display(df.loc[missing1,:].T)
            display(df.loc[missing2,:].T)
            display(df.loc[missing3,:].T)
            display(df.loc[missing4,:].T)
            display(df.loc[missing5,:].T)
            display(df.loc[missing6,:].T)
            num_seeds = df.values.min()


            from collections import OrderedDict
            final_results = OrderedDict()
            for pe_type in {'Original', 'NoPE'}:
                cur_type_dict = result_summary[pe_type].copy()
                final_dict = {
                    # 'min': cur_type_dict.copy(),
                    'max': cur_type_dict.copy(),
                    'avg.': cur_type_dict.copy(),
                }
                for missing_rc in cur_type_dict:
                    final_dict['avg.'][missing_rc] = np.mean(cur_type_dict[missing_rc])
                    # final_dict['min'][missing_rc] = np.min(cur_type_dict[missing_rc])
                    final_dict['max'][missing_rc] = np.max(cur_type_dict[missing_rc])

                for k in final_dict:
                    final_results[pe_type+' ('+k+')'] = final_dict[k]

            final_results
            df = pd.DataFrame(final_results)
            # missing1 = [str({i}) for i in range(n_layers)]
            # missing2 = ['{' + ','.join([str(i), str(i+1)])+ '}'for i in range(n_layers-1)]
            # missing3 = ['{' + ','.join([str(i), str(i+1), str(i+2)])+ '}'for i in range(n_layers-2)]
            # missing4 = ['{' + ','.join([str(i), str(i+1), str(i+2), str(i+3)])+ '}'for i in range(n_layers-3)]
            # missing5 = ['{' + ','.join([str(i), str(i+1), str(i+2), str(i+3), str(i+4)])+ '}'for i in range(n_layers-4)]
            from IPython.display import display
            r1 = df.loc[missing1,:].T
            r2 = df.loc[missing2,:].T
            r3 = df.loc[missing3,:].T
            r4 = df.loc[missing4,:].T
            r5 = df.loc[missing5,:].T
            r6 = df.loc[missing6,:].T
            r0 = df.loc[['{}'],:].T
            display(r0)
            display(r1)
            display(r2)
            display(r3)
            display(r4)
            display(r5)
            display(r6)

            # write all 3 to the same csv file
            all_r = pd.concat([r0, r1, r2, r3, r4, r5, r6], axis=1)
            c2 = '_' + c2 if c2_value else ''
            # all_r.to_csv(f'{c1}{c2}_{num_seeds}seeds.csv')
            all_dfs.append(all_r)
new_df = pd.concat(all_dfs, axis=0)
new_df.to_csv(f'./mod_all.csv')

./outputs/mod3_nc_residual_exp/mod3_nc_sd240_T2403261540_res=[0, 1, 2, 3, 4]_ncTrue/mod3_nc_sd240_T2403261540_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 99.95
./outputs/mod3_nc_residual_exp/mod3_nc_sd241_T2403261928_res=[0, 1, 2, 3, 4]_ncTrue/mod3_nc_sd241_T2403261928_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 99.02
./outputs/mod3_nc_residual_exp/mod3_nc_sd242_T2403262316_res=[0, 1, 2, 3, 4]_ncTrue/mod3_nc_sd242_T2403262316_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 81.49
./outputs/mod3_nc_residual_exp/mod3_nc_sd243_T2403270301_res=[0, 1, 2, 3, 4]_ncTrue/mod3_nc_sd243_T2403270301_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/mod3_nc_residual_exp/mod3_nc_sd244_T2403270643_res=[0, 1, 2, 3, 4]_ncTrue/mod3_nc_sd244_T2403270643_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 97.14
./outputs/mod3_nc_residual_exp/mod3_nc_sd245_T2403281633_res=[0, 1, 2, 3, 4]_ncTrue/mod3_nc_sd245_T2403281633_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 99.4
./outputs/mod3_nc_residual_exp/mod3_nc_sd246_T2403282336_res=[0, 1, 2, 3, 4]_ncTrue/mod3_nc_sd246_T2403282336_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 98.38
./outputs/mod3_nc_residual_exp/mod3_nc_sd247_T2403290638_res=[0, 1, 2, 3, 4]_ncTrue/mod3_nc_sd247_T2403290638_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 95.57
./outputs/mod3_nc_residual_exp/mod3_nc_sd248_T2403300158_res=[0, 1, 2, 3, 4]_ncTrue/mod3_nc_sd248_T2403300158_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 84.25

          {}
Original   9
NoPE       8

          {0}  {1}  {2}  {3}  {4}  {5}
Original    9    9    9    9    9    9
NoPE        8    8    8    8    8    8

          {0,1}  {1,2}  {2,3}  {3,4}  {4,5}
Original      9      9      9      9      9
NoPE          8      8      8      8      8

          {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original        9        9        9        9
NoPE            8        8        8        8

          {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original          9          9          9
NoPE              9          9          8

          {0,1,2,3,4}  {1,2,3,4,5}
Original            9            9
NoPE                9            9

          {0,1,2,3,4,5}
Original              9
NoPE                  9

                         {}
NoPE (max)        96.870000
NoPE (avg.)       93.853750
Original (max)   100.000000
Original (avg.)   99.168889

,{0},{1},{2},{3},{4},{5}
NoPE (max),98.770000,100.000000,100.000000,100.000000,100.000000,99.240000
NoPE (avg.),94.221250,97.302500,98.542500,98.890000,98.186250,95.360000
Original (max),100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
Original (avg.),94.291111,96.058889,99.643333,99.383333,98.965556,95.022222

                     {0,1}       {1,2}       {2,3}       {3,4}   {4,5}
NoPE (max)       98.360000   99.960000  100.000000  100.000000  100.00
NoPE (avg.)      96.083750   94.846250   98.358750   97.888750   97.38
Original (max)   99.870000  100.000000  100.000000  100.000000  100.00
Original (avg.)  97.474444   93.941111   99.646667   99.834444   97.73

                   {0,1,2}    {1,2,3}    {2,3,4}     {3,4,5}
NoPE (max)       99.500000  97.720000  100.00000  100.000000
NoPE (avg.)      95.662500  89.653750   99.63375   97.955000
Original (max)   99.220000  90.990000  100.00000  100.000000
Original (avg.)  94.864444  85.822222   99.54000   99.961111

                 {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
NoPE (max)       93.950000  96.610000  99.320000
NoPE (avg.)      86.357778  89.395556  97.632500
Original (max)   88.930000  90.440000  97.650000
Original (avg.)  85.895556  77.608889  87.777778

                 {0,1,2,3,4}  {1,2,3,4,5}
NoPE (max)         92.380000    99.360000
NoPE (avg.)        88.071111    82.231111
Original (max)     94.610000    89.060000
Original (avg.)    87.211111    82.330000

                 {0,1,2,3,4,5}
NoPE (max)           91.890000
NoPE (avg.)          83.171111
Original (max)       90.930000
Original (avg.)      84.276667

./outputs/mod3_residual_exp/mod3_sd240_T2403251700_res=[0, 1, 2, 3, 4]/mod3_sd240_T2403251700_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/mod3_residual_exp/mod3_sd241_T2403252050_res=[0, 1, 2, 3, 4]/mod3_sd241_T2403252050_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/mod3_residual_exp/mod3_sd242_T2403260040_res=[0, 1, 2, 3, 4]/mod3_sd242_T2403260040_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/mod3_residual_exp/mod3_sd243_T2403260426_res=[0, 1, 2, 3, 4]/mod3_sd243_T2403260426_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/mod3_residual_exp/mod3_sd244_T2403260809_res=[0, 1, 2, 3, 4]/mod3_sd244_T2403260809_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/mod3_residual_exp/mod3_sd245_T2403281432_res=[0, 1, 2, 3, 4]/mod3_sd245_T2403281432_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/mod3_residual_exp/mod3_sd246_T2403282137_res=[0, 1, 2, 3, 4]/mod3_sd246_T2403282137_res=[0, 1, 2, 3, 4]/result.csv Original {5} 99.68
./outputs/mod3_residual_exp/mod3_sd247_T2403290441_res=[0, 1, 2, 3, 4]/mod3_sd247_T2403290441_res=[0, 1, 2, 3, 4]/result.csv Original {5} 99.5
./outputs/mod3_residual_exp/mod3_sd248_T2403300000_res=[0, 1, 2, 3, 4]/mod3_sd248_T2403300000_res=[0, 1, 2, 3, 4]/result.csv Original {5} 99.76

          {}
Original   9
NoPE       9

          {0}  {1}  {2}  {3}  {4}  {5}
Original    9    9    9    9    9    9
NoPE        9    9    9    9    9    9

          {0,1}  {1,2}  {2,3}  {3,4}  {4,5}
Original      9      9      9      9      9
NoPE          9      9      9      9      9

          {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original        9       10        9        9
NoPE            9        9        9        9

          {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original          9          9          9
NoPE              9          9          9

          {0,1,2,3,4}  {1,2,3,4,5}
Original            9            9
NoPE                9            9

          {0,1,2,3,4,5}
Original              8
NoPE                  9

                         {}
NoPE (max)       100.000000
NoPE (avg.)       99.817778
Original (max)   100.000000
Original (avg.)   99.812222

,{0},{1},{2},{3},{4},{5}
NoPE (max),99.990000,99.500000,100.000000,100.000000,100.000000,100.000000
NoPE (avg.),99.552222,87.891111,99.633333,99.844444,99.738889,99.915556
Original (max),100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
Original (avg.),99.384444,97.022222,99.706667,99.714444,99.818889,99.882222

                      {0,1}      {1,2}       {2,3}       {3,4}       {4,5}
NoPE (max)       100.000000  99.930000  100.000000  100.000000  100.000000
NoPE (avg.)       99.097778  97.805556   99.421111   99.896667   99.886667
Original (max)   100.000000  99.760000  100.000000  100.000000  100.000000
Original (avg.)   99.780000  98.322222   99.686667   99.882222   99.876667

                    {0,1,2}    {1,2,3}    {2,3,4}    {3,4,5}
NoPE (max)       100.000000  97.910000  99.150000  33.990000
NoPE (avg.)       99.774444  90.874444  92.436667  33.696667
Original (max)   100.000000  99.360000  98.740000  34.220000
Original (avg.)   99.203333  93.013000  92.605556  33.827778

                 {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
NoPE (max)       94.920000  34.600000  33.990000
NoPE (avg.)      86.382222  33.847778  33.695556
Original (max)   96.240000  34.380000  34.240000
Original (avg.)  74.847778  33.813333  33.855556

                 {0,1,2,3,4}  {1,2,3,4,5}
NoPE (max)         34.600000    34.220000
NoPE (avg.)        33.822222    33.744444
Original (max)     33.950000    34.240000
Original (avg.)    33.727778    33.807778

                 {0,1,2,3,4,5}
NoPE (max)           34.300000
NoPE (avg.)          33.825556
Original (max)       34.240000
Original (avg.)      33.756250

./outputs/modp_nc_residual_exp/modp_nc_sd240_T2403270829_res=[0, 1, 2, 3, 4]_ncTrue/modp_nc_sd240_T2403270829_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/modp_nc_residual_exp/modp_nc_sd241_T2403271344_res=[0, 1, 2, 3, 4]_ncTrue/modp_nc_sd241_T2403271344_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/modp_nc_residual_exp/modp_nc_sd242_T2403271902_res=[0, 1, 2, 3, 4]_ncTrue/modp_nc_sd242_T2403271902_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/modp_nc_residual_exp/modp_nc_sd243_T2403280022_res=[0, 1, 2, 3, 4]_ncTrue/modp_nc_sd243_T2403280022_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/modp_nc_residual_exp/modp_nc_sd244_T2403280543_res=[0, 1, 2, 3, 4]_ncTrue/modp_nc_sd244_T2403280543_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/modp_nc_residual_exp/modp_nc_sd245_T2403281931_res=[0, 1, 2, 3, 4]_ncTrue/modp_nc_sd245_T2403281931_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/modp_nc_residual_exp/modp_nc_sd246_T2403290231_res=[0, 1, 2, 3, 4]_ncTrue/modp_nc_sd246_T2403290231_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/modp_nc_residual_exp/modp_nc_sd247_T2403290938_res=[0, 1, 2, 3, 4]_ncTrue/modp_nc_sd247_T2403290938_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/modp_nc_residual_exp/modp_nc_sd247_T2403290938_res=[0, 1, 2, 3, 4]_ncTrue/modp_nc_sd247_T2403290938_res=[0, 1, 2, 3, 4]_ncTrue_1/result.csv Original {5} 100.0

          {}
Original   9
NoPE       8

          {0}  {1}  {2}  {3}  {4}  {5}
Original    9    9    8    8    9    9
NoPE        8    8    8    8    8    8

          {0,1}  {1,2}  {2,3}  {3,4}  {4,5}
Original      8      8      8      8      8
NoPE          8      8      8      8      8

          {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original        8        8        8        8
NoPE            8        8        8        8

          {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original          9          8          8
NoPE              8          8          8

          {0,1,2,3,4}  {1,2,3,4,5}
Original            9            9
NoPE                8            8

          {0,1,2,3,4,5}
Original              8
NoPE                  8

                         {}
NoPE (max)        47.740000
NoPE (avg.)       47.215000
Original (max)   100.000000
Original (avg.)   99.917778

                       {0}        {1}     {2}        {3}       {4}        {5}
NoPE (max)        47.57000   48.18000   48.20   48.29000   47.9500   48.00000
NoPE (avg.)       47.23125   47.74875   47.96   47.87125   47.4725   47.31375
Original (max)   100.00000  100.00000  100.00  100.00000  100.0000  100.00000
Original (avg.)  100.00000  100.00000  100.00  100.00000  100.0000  100.00000

                    {0,1}      {1,2}     {2,3}      {3,4}   {4,5}
NoPE (max)        48.0200   48.20000   48.2600   47.95000   48.34
NoPE (avg.)       47.3125   47.97500   47.8325   47.75625   48.00
Original (max)   100.0000  100.00000  100.0000  100.00000  100.00
Original (avg.)  100.0000   99.93375  100.0000   99.97625  100.00

                   {0,1,2}   {1,2,3}    {2,3,4}    {3,4,5}
NoPE (max)        48.22000   48.3100   48.14000   48.36000
NoPE (avg.)       47.63875   47.7975   47.79750   48.05375
Original (max)   100.00000  100.0000  100.00000  100.00000
Original (avg.)  100.00000  100.0000   99.99625  100.00000

                 {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
NoPE (max)        48.05000   48.01000      48.35
NoPE (avg.)       47.44125   47.80625      47.87
Original (max)   100.00000  100.00000     100.00
Original (avg.)  100.00000  100.00000      99.86

                 {0,1,2,3,4}  {1,2,3,4,5}
NoPE (max)          48.29000     48.12000
NoPE (avg.)         47.75875     47.89375
Original (max)     100.00000    100.00000
Original (avg.)     99.97000    100.00000

                 {0,1,2,3,4,5}
NoPE (max)            48.28000
NoPE (avg.)           47.89875
Original (max)       100.00000
Original (avg.)      100.00000

./outputs/modp_residual_exp/modp_sd240_T2403271145_res=[0, 1, 2, 3, 4]/modp_sd240_T2403271145_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/modp_residual_exp/modp_sd241_T2403271657_res=[0, 1, 2, 3, 4]/modp_sd241_T2403271657_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/modp_residual_exp/modp_sd242_T2403272217_res=[0, 1, 2, 3, 4]/modp_sd242_T2403272217_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/modp_residual_exp/modp_sd243_T2403280339_res=[0, 1, 2, 3, 4]/modp_sd243_T2403280339_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/modp_residual_exp/modp_sd244_T2403280855_res=[0, 1, 2, 3, 4]/modp_sd244_T2403280855_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/modp_residual_exp/modp_sd245_T2403281819_res=[0, 1, 2, 3, 4]/modp_sd245_T2403281819_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/modp_residual_exp/modp_sd246_T2403290123_res=[0, 1, 2, 3, 4]/modp_sd246_T2403290123_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/modp_residual_exp/modp_sd247_T2403290823_res=[0, 1, 2, 3, 4]/modp_sd247_T2403290823_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0

          {}
Original   8
NoPE       8

          {0}  {1}  {2}  {3}  {4}  {5}
Original    8    8    8    8    8    8
NoPE        8    8    8    8    8    8

          {0,1}  {1,2}  {2,3}  {3,4}  {4,5}
Original      8      8      8      8      8
NoPE          8      8      8      8      8

          {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original        8        8        8        8
NoPE            8        8        8        8

          {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original          8          8          8
NoPE              8          8          8

          {0,1,2,3,4}  {1,2,3,4,5}
Original            8            8
NoPE                8            8

          {0,1,2,3,4,5}
Original              8
NoPE                  8

                       {}
NoPE (max)       100.0000
NoPE (avg.)       99.9625
Original (max)   100.0000
Original (avg.)  100.0000

                       {0}    {1}        {2}    {3}    {4}    {5}
NoPE (max)       100.00000  100.0  100.00000  100.0  100.0  100.0
NoPE (avg.)       99.99875  100.0   99.91625  100.0  100.0  100.0
Original (max)   100.00000  100.0  100.00000  100.0  100.0  100.0
Original (avg.)  100.00000  100.0  100.00000  100.0  100.0  100.0

                     {0,1}     {1,2}      {2,3}      {3,4}      {4,5}
NoPE (max)       100.00000  100.0000  100.00000  100.00000  100.00000
NoPE (avg.)       99.75125   99.9925   99.95000   99.99375   99.90875
Original (max)   100.00000  100.0000  100.00000  100.00000  100.00000
Original (avg.)  100.00000  100.0000   99.99375   99.98875  100.00000

                   {0,1,2}    {1,2,3}    {2,3,4}    {3,4,5}
NoPE (max)       100.00000  100.00000  100.00000  100.00000
NoPE (avg.)       99.80125   99.89125   99.91375   99.95875
Original (max)   100.00000  100.00000  100.00000  100.00000
Original (avg.)   99.99500  100.00000   99.93875   99.95375

                 {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
NoPE (max)        100.0000  100.00000   100.0000
NoPE (avg.)        99.7625   93.96875    95.5450
Original (max)    100.0000  100.00000   100.0000
Original (avg.)    98.6600   93.34625    96.7725

                 {0,1,2,3,4}  {1,2,3,4,5}
NoPE (max)          99.89000     89.62000
NoPE (avg.)         85.19875     61.34375
Original (max)      98.63000     97.39000
Original (avg.)     62.64625     51.34500

                 {0,1,2,3,4,5}
NoPE (max)            90.10000
NoPE (avg.)           63.76375
Original (max)        34.39000
Original (avg.)       33.76375

./outputs/mods_nc_residual_exp/mods_nc_sd240_T2403291311_res=[0, 1, 2, 3, 4]_ncTrue/mods_nc_sd240_T2403291311_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/mods_nc_residual_exp/mods_nc_sd241_T2403291426_res=[0, 1, 2, 3, 4]_ncTrue/mods_nc_sd241_T2403291426_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/mods_nc_residual_exp/mods_nc_sd242_T2403291545_res=[0, 1, 2, 3, 4]_ncTrue/mods_nc_sd242_T2403291545_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/mods_nc_residual_exp/mods_nc_sd243_T2403291654_res=[0, 1, 2, 3, 4]_ncTrue/mods_nc_sd243_T2403291654_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/mods_nc_residual_exp/mods_nc_sd244_T2403291816_res=[0, 1, 2, 3, 4]_ncTrue/mods_nc_sd244_T2403291816_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/mods_nc_residual_exp/mods_nc_sd245_T2403291931_res=[0, 1, 2, 3, 4]_ncTrue/mods_nc_sd245_T2403291931_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 99.4
./outputs/mods_nc_residual_exp/mods_nc_sd246_T2403292042_res=[0, 1, 2, 3, 4]_ncTrue/mods_nc_sd246_T2403292042_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/mods_nc_residual_exp/mods_nc_sd247_T2403292157_res=[0, 1, 2, 3, 4]_ncTrue/mods_nc_sd247_T2403292157_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/mods_nc_residual_exp/mods_nc_sd248_T2403292310_res=[0, 1, 2, 3, 4]_ncTrue/mods_nc_sd248_T2403292310_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0

          {}
Original  10
NoPE      10

          {0}  {1}  {2}  {3}  {4}  {5}
Original   10    9    9   10    9    9
NoPE       10   10    9    9   10   10

          {0,1}  {1,2}  {2,3}  {3,4}  {4,5}
Original     10      9      9     10     10
NoPE          9      9     10     10     11

          {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original       11       11       11       11
NoPE           11       11       11        9

          {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original         10         10         10
NoPE              9         10         10

          {0,1,2,3,4}  {1,2,3,4,5}
Original           10           10
NoPE               11            9

          {0,1,2,3,4,5}
Original             11
NoPE                 11

                     {}
NoPE (max)       100.00
NoPE (avg.)       99.96
Original (max)   100.00
Original (avg.)   99.94

                    {0}    {1}         {2}     {3}     {4}         {5}
NoPE (max)       100.00  100.0  100.000000  100.00  100.00  100.000000
NoPE (avg.)       99.98  100.0   99.911111  100.00   99.88   99.900000
Original (max)   100.00  100.0  100.000000  100.00  100.00  100.000000
Original (avg.)   99.88  100.0   99.911111   99.98  100.00   99.933333

                  {0,1}       {1,2}       {2,3}   {3,4}   {4,5}
NoPE (max)       100.00  100.000000  100.000000  100.00  100.00
NoPE (avg.)      100.00  100.000000   99.900000   99.94  100.00
Original (max)   100.00  100.000000  100.000000  100.00  100.00
Original (avg.)   99.86   99.977778   99.911111   99.96   99.96

                    {0,1,2}     {1,2,3}     {2,3,4}     {3,4,5}
NoPE (max)       100.000000  100.000000  100.000000  100.000000
NoPE (avg.)      100.000000   99.927273   99.727273   99.911111
Original (max)   100.000000  100.000000  100.000000  100.000000
Original (avg.)   99.781818   99.800000  100.000000   99.618182

                  {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
NoPE (max)       100.000000     100.00     100.00
NoPE (avg.)       99.955556      99.46      99.98
Original (max)   100.000000     100.00     100.00
Original (avg.)   99.880000      99.42      98.96

                 {0,1,2,3,4}  {1,2,3,4,5}
NoPE (max)            100.00   100.000000
NoPE (avg.)            99.60    99.933333
Original (max)        100.00   100.000000
Original (avg.)        99.84    98.820000

                 {0,1,2,3,4,5}
NoPE (max)          100.000000
NoPE (avg.)          99.909091
Original (max)      100.000000
Original (avg.)      99.654545

./outputs/mods_residual_exp/mods_sd240_T2403291225_res=[0, 1, 2, 3, 4]/mods_sd240_T2403291225_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/mods_residual_exp/mods_sd240_T2403291225_res=[0, 1, 2, 3, 4]/mods_sd240_T2403291225_res=[0, 1, 2, 3, 4]_1/result.csv Original {5} 100.0
./outputs/mods_residual_exp/mods_sd241_T2403291352_res=[0, 1, 2, 3, 4]/mods_sd241_T2403291352_res=[0, 1, 2, 3, 4]/result.csv Original {5} 99.8
./outputs/mods_residual_exp/mods_sd241_T2403291352_res=[0, 1, 2, 3, 4]/mods_sd241_T2403291352_res=[0, 1, 2, 3, 4]_1/result.csv Original {5} 99.8
./outputs/mods_residual_exp/mods_sd242_T2403291502_res=[0, 1, 2, 3, 4]/mods_sd242_T2403291502_res=[0, 1, 2, 3, 4]/result.csv Original {5} 99.6
./outputs/mods_residual_exp/mods_sd242_T2403291502_res=[0, 1, 2, 3, 4]/mods_sd242_T2403291502_res=[0, 1, 2, 3, 4]_1/result.csv Original {5} 99.6
./outputs/mods_residual_exp/mods_sd243_T2403291619_res=[0, 1, 2, 3, 4]/mods_sd243_T2403291619_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/mods_residual_exp/mods_sd244_T2403291729_res=[0, 1, 2, 3, 4]/mods_sd244_T2403291729_res=[0, 1, 2, 3, 4]/result.csv Original {5} 99.8
./outputs/mods_residual_exp/mods_sd245_T2403291855_res=[0, 1, 2, 3, 4]/mods_sd245_T2403291855_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/mods_residual_exp/mods_sd246_T2403292005_res=[0, 1, 2, 3, 4]/mods_sd246_T2403292005_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/mods_residual_exp/mods_sd247_T2403292115_res=[0, 1, 2, 3, 4]/mods_sd247_T2403292115_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/mods_residual_exp/mods_sd248_T2403292236_res=[0, 1, 2, 3, 4]/mods_sd248_T2403292236_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0

          {}
Original  11
NoPE      10

          {0}  {1}  {2}  {3}  {4}  {5}
Original    9    9   10   11   12   12
NoPE       10   10   10   12   11   11

          {0,1}  {1,2}  {2,3}  {3,4}  {4,5}
Original      9      9      9     10      9
NoPE         10     10      9      9      9

          {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original       10        9        9        9
NoPE           10       10       10       10

          {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original          9          9          9
NoPE             10         10         10

          {0,1,2,3,4}  {1,2,3,4,5}
Original            9            9
NoPE                9            9

          {0,1,2,3,4,5}
Original             10
NoPE                 11

                     {}
NoPE (max)       100.00
NoPE (avg.)       99.86
Original (max)   100.00
Original (avg.)  100.00

                    {0}    {1}    {2}         {3}         {4}         {5}
NoPE (max)       100.00  100.0  100.0  100.000000  100.000000  100.000000
NoPE (avg.)       99.92  100.0  100.0   99.966667  100.000000  100.000000
Original (max)   100.00  100.0  100.0  100.000000  100.000000  100.000000
Original (avg.)  100.00  100.0  100.0   99.945455   99.966667   99.883333

                      {0,1}   {1,2}       {2,3}       {3,4}       {4,5}
NoPE (max)       100.000000  100.00  100.000000  100.000000  100.000000
NoPE (avg.)       99.920000   99.56   99.088889   99.222222   99.444444
Original (max)   100.000000  100.00  100.000000  100.000000  100.000000
Original (avg.)   99.844444  100.00   99.622222   99.680000   99.866667

                 {0,1,2}     {1,2,3}     {2,3,4}     {3,4,5}
NoPE (max)        100.00  100.000000  100.000000  100.000000
NoPE (avg.)        99.84   94.980000   95.460000   76.200000
Original (max)    100.00  100.000000  100.000000   97.000000
Original (avg.)    99.92   99.577778   97.866667   74.177778

                  {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
NoPE (max)       100.000000  36.600000  36.200000
NoPE (avg.)       83.620000  35.100000  34.060000
Original (max)    99.800000  36.600000  36.600000
Original (avg.)   89.466667  34.377778  34.377778

                 {0,1,2,3,4}  {1,2,3,4,5}
NoPE (max)         36.000000    36.200000
NoPE (avg.)        34.444444    34.288889
Original (max)     39.600000    36.600000
Original (avg.)    34.800000    34.555556

                 {0,1,2,3,4,5}
NoPE (max)           36.200000
NoPE (avg.)          34.254545
Original (max)       36.600000
Original (avg.)      34.480000

In [20]:
print('\\begin{tabular}{lllrrrrrrrrrrrrrrrrrrrrrr}\n\\toprule\nUnnamed: 0 & Unnamed: 1 &      Unnamed: 2 &    \\{\\} &   \\{0\\} &   \\{1\\} &   \\{2\\} &   \\{3\\} &   \\{4\\} &   \\{5\\} &  \\{0,1\\} &  \\{1,2\\} &  \\{2,3\\} &  \\{3,4\\} &  \\{4,5\\} &  \\{0,1,2\\} &  \\{1,2,3\\} &  \\{2,3,4\\} &  \\{3,4,5\\} &  \\{0,1,2,3\\} &  \\{1,2,3,4\\} &  \\{2,3,4,5\\} &  \\{0,1,2,3,4\\} &  \\{1,2,3,4,5\\} &  \\{0,1,2,3,4,5\\} \\\\\n\\midrule\n   mod3(5) & non-causal &      NoPE (max) &  96.9 &  98.8 & 100.0 & 100.0 & 100.0 & 100.0 &  99.2 &   98.4 &  100.0 &  100.0 &  100.0 &  100.0 &     99.5 &     97.7 &    100.0 &    100.0 &       94.0 &       96.6 &       99.3 &         92.4 &         99.4 &           91.9 \\\\\n       NaN &        NaN &     NoPE (avg.) &  93.9 &  94.2 &  97.3 &  98.5 &  98.9 &  98.2 &  95.4 &   96.1 &   94.8 &   98.4 &   97.9 &   97.4 &     95.7 &     89.7 &     99.6 &     98.0 &       86.4 &       89.4 &       97.6 &         88.1 &         82.2 &           83.2 \\\\\n       NaN &        NaN &  Original (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &   99.9 &  100.0 &  100.0 &  100.0 &  100.0 &     99.2 &     91.0 &    100.0 &    100.0 &       88.9 &       90.4 &       97.7 &         94.6 &         89.1 &           90.9 \\\\\n       NaN &        NaN & Original (avg.) &  99.2 &  94.3 &  96.1 &  99.6 &  99.4 &  99.0 &  95.0 &   97.5 &   93.9 &   99.6 &   99.8 &   97.7 &     94.9 &     85.8 &     99.5 &    100.0 &       85.9 &       77.6 &       87.8 &         87.2 &         82.3 &           84.3 \\\\\n       NaN &     causal &      NoPE (max) & 100.0 & 100.0 &  99.5 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &   99.9 &  100.0 &  100.0 &  100.0 &    100.0 &     97.9 &     99.2 &     34.0 &       94.9 &       34.6 &       34.0 &         34.6 &         34.2 &           34.3 \\\\\n       NaN &        NaN &     NoPE (avg.) &  99.8 &  99.6 &  87.9 &  99.6 &  99.8 &  99.7 &  99.9 &   99.1 &   97.8 &   99.4 &   99.9 &   99.9 &     99.8 &     90.9 &     92.4 &     33.7 &       86.4 &       33.8 &       33.7 &         33.8 &         33.7 &           33.8 \\\\\n       NaN &        NaN &  Original (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &   99.8 &  100.0 &  100.0 &  100.0 &    100.0 &     99.4 &     98.7 &     34.2 &       96.2 &       34.4 &       34.2 &         34.0 &         34.2 &           34.2 \\\\\n       NaN &        NaN & Original (avg.) &  99.8 &  99.4 &  97.0 &  99.7 &  99.7 &  99.8 &  99.9 &   99.8 &   98.3 &   99.7 &   99.9 &   99.9 &     99.2 &     93.0 &     92.6 &     33.8 &       74.8 &       33.8 &       33.9 &         33.7 &         33.8 &           33.8 \\\\\n   mod3(3) & non-causal &      NoPE (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &  100.0 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &    100.0 &    100.0 &      100.0 &      100.0 &      100.0 &        100.0 &        100.0 &          100.0 \\\\\n       NaN &        NaN &     NoPE (avg.) & 100.0 & 100.0 & 100.0 &  99.9 & 100.0 &  99.9 &  99.9 &  100.0 &  100.0 &   99.9 &   99.9 &  100.0 &    100.0 &     99.9 &     99.7 &     99.9 &      100.0 &       99.5 &      100.0 &         99.6 &         99.9 &           99.9 \\\\\n       NaN &        NaN &  Original (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &  100.0 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &    100.0 &    100.0 &      100.0 &      100.0 &      100.0 &        100.0 &        100.0 &          100.0 \\\\\n       NaN &        NaN & Original (avg.) &  99.9 &  99.9 & 100.0 &  99.9 & 100.0 & 100.0 &  99.9 &   99.9 &  100.0 &   99.9 &  100.0 &  100.0 &     99.8 &     99.8 &    100.0 &     99.6 &       99.9 &       99.4 &       99.0 &         99.8 &         98.8 &           99.7 \\\\\n       NaN &     causal &      NoPE (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &  100.0 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &    100.0 &    100.0 &      100.0 &       36.6 &       36.2 &         36.0 &         36.2 &           36.2 \\\\\n       NaN &        NaN &     NoPE (avg.) &  99.9 &  99.9 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &   99.9 &   99.6 &   99.1 &   99.2 &   99.4 &     99.8 &     95.0 &     95.5 &     76.2 &       83.6 &       35.1 &       34.1 &         34.4 &         34.3 &           34.3 \\\\\n       NaN &        NaN &  Original (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &  100.0 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &    100.0 &     97.0 &       99.8 &       36.6 &       36.6 &         39.6 &         36.6 &           36.6 \\\\\n       NaN &        NaN & Original (avg.) & 100.0 & 100.0 & 100.0 & 100.0 &  99.9 & 100.0 &  99.9 &   99.8 &  100.0 &   99.6 &   99.7 &   99.9 &     99.9 &     99.6 &     97.9 &     74.2 &       89.5 &       34.4 &       34.4 &         34.8 &         34.6 &           34.5 \\\\\n  mod3*(5) & non-causal &      NoPE (max) &  47.7 &  47.6 &  48.2 &  48.2 &  48.3 &  48.0 &  48.0 &   48.0 &   48.2 &   48.3 &   48.0 &   48.3 &     48.2 &     48.3 &     48.1 &     48.4 &       48.1 &       48.0 &       48.4 &         48.3 &         48.1 &           48.3 \\\\\n       NaN &        NaN &     NoPE (avg.) &  47.2 &  47.2 &  47.7 &  48.0 &  47.9 &  47.5 &  47.3 &   47.3 &   48.0 &   47.8 &   47.8 &   48.0 &     47.6 &     47.8 &     47.8 &     48.1 &       47.4 &       47.8 &       47.9 &         47.8 &         47.9 &           47.9 \\\\\n       NaN &        NaN &  Original (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &  100.0 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &    100.0 &    100.0 &      100.0 &      100.0 &      100.0 &        100.0 &        100.0 &          100.0 \\\\\n       NaN &        NaN & Original (avg.) &  99.9 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &   99.9 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &    100.0 &    100.0 &      100.0 &      100.0 &       99.9 &        100.0 &        100.0 &          100.0 \\\\\n       NaN &     causal &      NoPE (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &  100.0 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &    100.0 &    100.0 &      100.0 &      100.0 &      100.0 &         99.9 &         89.6 &           90.1 \\\\\n       NaN &        NaN &     NoPE (avg.) & 100.0 & 100.0 & 100.0 &  99.9 & 100.0 & 100.0 & 100.0 &   99.8 &  100.0 &  100.0 &  100.0 &   99.9 &     99.8 &     99.9 &     99.9 &    100.0 &       99.8 &       94.0 &       95.5 &         85.2 &         61.3 &           63.8 \\\\\n       NaN &        NaN &  Original (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &  100.0 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &    100.0 &    100.0 &      100.0 &      100.0 &      100.0 &         98.6 &         97.4 &           34.4 \\\\\n       NaN &        NaN & Original (avg.) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &  100.0 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &     99.9 &    100.0 &       98.7 &       93.3 &       96.8 &         62.6 &         51.3 &           33.8 \\\\\n\\bottomrule\n\\end{tabular}\n')

\begin{tabular}{lllrrrrrrrrrrrrrrrrrrrrrr}
\toprule
Unnamed: 0 & Unnamed: 1 &      Unnamed: 2 &    \{\} &   \{0\} &   \{1\} &   \{2\} &   \{3\} &   \{4\} &   \{5\} &  \{0,1\} &  \{1,2\} &  \{2,3\} &  \{3,4\} &  \{4,5\} &  \{0,1,2\} &  \{1,2,3\} &  \{2,3,4\} &  \{3,4,5\} &  \{0,1,2,3\} &  \{1,2,3,4\} &  \{2,3,4,5\} &  \{0,1,2,3,4\} &  \{1,2,3,4,5\} &  \{0,1,2,3,4,5\} \\
\midrule
   mod3(5) & non-causal &      NoPE (max) &  96.9 &  98.8 & 100.0 & 100.0 & 100.0 & 100.0 &  99.2 &   98.4 &  100.0 &  100.0 &  100.0 &  100.0 &     99.5 &     97.7 &    100.0 &    100.0 &       94.0 &       96.6 &       99.3 &         92.4 &         99.4 &           91.9 \\
       NaN &        NaN &     NoPE (avg.) &  93.9 &  94.2 &  97.3 &  98.5 &  98.9 &  98.2 &  95.4 &   96.1 &   94.8 &   98.4 &   97.9 &   97.4 &     95.7 &     89.7 &     99.6 &     98.0 &       86.4 &       89.4 &       97.6 &         88.1 &         82.2 &           83.2 \\
       NaN &        NaN &  Original (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &   99.9 &  100.0 &  100.0 &  100.0 &  100.0 &     99.2 &     91.0 &    100.0 &    100.0 &       88.9 &       90.4 &       97.7 &         94.6 &         89.1 &           90.9 \\
       NaN &        NaN & Original (avg.) &  99.2 &  94.3 &  96.1 &  99.6 &  99.4 &  99.0 &  95.0 &   97.5 &   93.9 &   99.6 &   99.8 &   97.7 &     94.9 &     85.8 &     99.5 &    100.0 &       85.9 &       77.6 &       87.8 &         87.2 &         82.3 &           84.3 \\
       NaN &     causal &      NoPE (max) & 100.0 & 100.0 &  99.5 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &   99.9 &  100.0 &  100.0 &  100.0 &    100.0 &     97.9 &     99.2 &     34.0 &       94.9 &       34.6 &       34.0 &         34.6 &         34.2 &           34.3 \\
       NaN &        NaN &     NoPE (avg.) &  99.8 &  99.6 &  87.9 &  99.6 &  99.8 &  99.7 &  99.9 &   99.1 &   97.8 &   99.4 &   99.9 &   99.9 &     99.8 &     90.9 &     92.4 &     33.7 &       86.4 &       33.8 &       33.7 &         33.8 &         33.7 &           33.8 \\
       NaN &        NaN &  Original (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &   99.8 &  100.0 &  100.0 &  100.0 &    100.0 &     99.4 &     98.7 &     34.2 &       96.2 &       34.4 &       34.2 &         34.0 &         34.2 &           34.2 \\
       NaN &        NaN & Original (avg.) &  99.8 &  99.4 &  97.0 &  99.7 &  99.7 &  99.8 &  99.9 &   99.8 &   98.3 &   99.7 &   99.9 &   99.9 &     99.2 &     93.0 &     92.6 &     33.8 &       74.8 &       33.8 &       33.9 &         33.7 &         33.8 &           33.8 \\
   mod3(3) & non-causal &      NoPE (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &  100.0 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &    100.0 &    100.0 &      100.0 &      100.0 &      100.0 &        100.0 &        100.0 &          100.0 \\
       NaN &        NaN &     NoPE (avg.) & 100.0 & 100.0 & 100.0 &  99.9 & 100.0 &  99.9 &  99.9 &  100.0 &  100.0 &   99.9 &   99.9 &  100.0 &    100.0 &     99.9 &     99.7 &     99.9 &      100.0 &       99.5 &      100.0 &         99.6 &         99.9 &           99.9 \\
       NaN &        NaN &  Original (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &  100.0 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &    100.0 &    100.0 &      100.0 &      100.0 &      100.0 &        100.0 &        100.0 &          100.0 \\
       NaN &        NaN & Original (avg.) &  99.9 &  99.9 & 100.0 &  99.9 & 100.0 & 100.0 &  99.9 &   99.9 &  100.0 &   99.9 &  100.0 &  100.0 &     99.8 &     99.8 &    100.0 &     99.6 &       99.9 &       99.4 &       99.0 &         99.8 &         98.8 &           99.7 \\
       NaN &     causal &      NoPE (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &  100.0 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &    100.0 &    100.0 &      100.0 &       36.6 &       36.2 &         36.0 &         36.2 &           36.2 \\
       NaN &        NaN &     NoPE (avg.) &  99.9 &  99.9 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &   99.9 &   99.6 &   99.1 &   99.2 &   99.4 &     99.8 &     95.0 &     95.5 &     76.2 &       83.6 &       35.1 &       34.1 &         34.4 &         34.3 &           34.3 \\
       NaN &        NaN &  Original (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &  100.0 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &    100.0 &     97.0 &       99.8 &       36.6 &       36.6 &         39.6 &         36.6 &           36.6 \\
       NaN &        NaN & Original (avg.) & 100.0 & 100.0 & 100.0 & 100.0 &  99.9 & 100.0 &  99.9 &   99.8 &  100.0 &   99.6 &   99.7 &   99.9 &     99.9 &     99.6 &     97.9 &     74.2 &       89.5 &       34.4 &       34.4 &         34.8 &         34.6 &           34.5 \\
  mod3*(5) & non-causal &      NoPE (max) &  47.7 &  47.6 &  48.2 &  48.2 &  48.3 &  48.0 &  48.0 &   48.0 &   48.2 &   48.3 &   48.0 &   48.3 &     48.2 &     48.3 &     48.1 &     48.4 &       48.1 &       48.0 &       48.4 &         48.3 &         48.1 &           48.3 \\
       NaN &        NaN &     NoPE (avg.) &  47.2 &  47.2 &  47.7 &  48.0 &  47.9 &  47.5 &  47.3 &   47.3 &   48.0 &   47.8 &   47.8 &   48.0 &     47.6 &     47.8 &     47.8 &     48.1 &       47.4 &       47.8 &       47.9 &         47.8 &         47.9 &           47.9 \\
       NaN &        NaN &  Original (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &  100.0 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &    100.0 &    100.0 &      100.0 &      100.0 &      100.0 &        100.0 &        100.0 &          100.0 \\
       NaN &        NaN & Original (avg.) &  99.9 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &   99.9 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &    100.0 &    100.0 &      100.0 &      100.0 &       99.9 &        100.0 &        100.0 &          100.0 \\
       NaN &     causal &      NoPE (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &  100.0 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &    100.0 &    100.0 &      100.0 &      100.0 &      100.0 &         99.9 &         89.6 &           90.1 \\
       NaN &        NaN &     NoPE (avg.) & 100.0 & 100.0 & 100.0 &  99.9 & 100.0 & 100.0 & 100.0 &   99.8 &  100.0 &  100.0 &  100.0 &   99.9 &     99.8 &     99.9 &     99.9 &    100.0 &       99.8 &       94.0 &       95.5 &         85.2 &         61.3 &           63.8 \\
       NaN &        NaN &  Original (max) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &  100.0 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &    100.0 &    100.0 &      100.0 &      100.0 &      100.0 &         98.6 &         97.4 &           34.4 \\
       NaN &        NaN & Original (avg.) & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 & 100.0 &  100.0 &  100.0 &  100.0 &  100.0 &  100.0 &    100.0 &    100.0 &     99.9 &    100.0 &       98.7 &       93.3 &       96.8 &         62.6 &         51.3 &           33.8 \\
\bottomrule
\end{tabular}

In [ ]:
# This is non-causal trained on mod3, 2 seeds