In [1]:
import sys
import os
%load_ext autoreload
%autoreload 2

sys.path.append('../')
os.chdir('../')

In [2]:
import re

string = "res=[0, 1, 2, 5]"
pattern = r"res=\[(.*?)\]"
result = re.findall(pattern, string)[0]
lst = [int(num) for num in result.split(", ")]
print(lst)

[0, 1, 2, 5]

In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import re

critical_keys1 = ['mod3', 'modp']
critical_keys2 = ['nc']
save = False

global_path = './outputs'

for c1 in critical_keys1:
    for c2 in critical_keys2:
        for c2_value in [True, False]:
            all_result_paths = glob.glob(global_path + '/mod*_exp/**/result.csv', recursive=True)
            all_result_paths = [p for p in all_result_paths if c1 in p]
            all_result_paths = [p for p in all_result_paths if (c2 in p)==c2_value]

            result_summary = {}
            n_layers = 6
            for result_path in all_result_paths:
                result = pd.read_csv(result_path)
                top_test_result = result['test_acc'].max()
                pe_type = 'NoPE' if 'nope' in result_path else 'Original'
                pattern = r"res=\[(.*?)\]"
                residual_list = re.findall(pattern, result_path)[0]
                residual_list = [int(num) for num in residual_list.split(", ")] if residual_list!='' else []
                # residual_list = [int(num) for num in residual_list.split(", ")]
                missing_rc = [i for i in range(n_layers) if i not in residual_list]
                missing_rc_str = '{' + ','.join([str(i) for i in missing_rc])+ '}'


                if pe_type not in result_summary:
                    result_summary[pe_type] = {}
                if missing_rc_str not in result_summary[pe_type]:
                    result_summary[pe_type][missing_rc_str] = []
                result_summary[pe_type][missing_rc_str].append(top_test_result)
                if pe_type == 'Original' and missing_rc_str == '{5}':
                    print(result_path, pe_type, missing_rc_str, top_test_result)

            from ast import literal_eval
            mean_results = {}
            for pe_type in result_summary:
                cur_type_dict = result_summary[pe_type].copy()
                for missing_rc in cur_type_dict:
                    cur_type_dict[missing_rc] = len(cur_type_dict[missing_rc])
                mean_results[pe_type] = cur_type_dict

            df = pd.DataFrame(mean_results)
            missing0 = ['{}']
            missing1 = [str({i}) for i in range(n_layers)]
            missing2 = ['{' + ','.join([str(i), str(i+1)])+ '}'for i in range(n_layers-1)]
            missing3 = ['{' + ','.join([str(i), str(i+1), str(i+2)])+ '}'for i in range(n_layers-2)]
            missing4 = ['{' + ','.join([str(i), str(i+1), str(i+2), str(i+3)])+ '}'for i in range(n_layers-3)]
            missing5 = ['{' + ','.join([str(i), str(i+1), str(i+2), str(i+3), str(i+4)])+ '}'for i in range(n_layers-4)]
            from IPython.display import display
            display(df.loc[missing0,:].T)
            display(df.loc[missing1,:].T)
            display(df.loc[missing2,:].T)
            display(df.loc[missing3,:].T)
            display(df.loc[missing4,:].T)
            display(df.loc[missing5,:].T)
            num_seeds = df.values.min()


            from collections import OrderedDict
            final_results = OrderedDict()
            for pe_type in {'Original', 'NoPE'}:
                cur_type_dict = result_summary[pe_type].copy()
                final_dict = {
                    'min': cur_type_dict.copy(),
                    'max': cur_type_dict.copy(),
                    'avg.': cur_type_dict.copy(),
                }
                for missing_rc in cur_type_dict:
                    final_dict['avg.'][missing_rc] = np.mean(cur_type_dict[missing_rc])
                    final_dict['min'][missing_rc] = np.min(cur_type_dict[missing_rc])
                    final_dict['max'][missing_rc] = np.max(cur_type_dict[missing_rc])

                for k in final_dict:
                    final_results[pe_type+' ('+k+')'] = final_dict[k]

            df = pd.DataFrame(final_results)
            missing1 = [str({i}) for i in range(n_layers)]
            missing2 = ['{' + ','.join([str(i), str(i+1)])+ '}'for i in range(n_layers-1)]
            missing3 = ['{' + ','.join([str(i), str(i+1), str(i+2)])+ '}'for i in range(n_layers-2)]
            missing4 = ['{' + ','.join([str(i), str(i+1), str(i+2), str(i+3)])+ '}'for i in range(n_layers-3)]
            missing5 = ['{' + ','.join([str(i), str(i+1), str(i+2), str(i+3), str(i+4)])+ '}'for i in range(n_layers-4)]
            from IPython.display import display
            r1 = df.loc[missing1,:].T
            r2 = df.loc[missing2,:].T
            r3 = df.loc[missing3,:].T
            r4 = df.loc[missing4,:].T
            r5 = df.loc[missing5,:].T
            r0 = df.loc[['{}'],:].T
            display(r0)
            display(r1)
            display(r2)
            display(r3)
            display(r4)
            display(r5)

            # write all 3 to the same csv file
            if save:
                all_r = pd.concat([r0, r1, r2, r3, r4, r5], axis=1)
                c2 = '_' + c2 if c2_value else ''
                
                all_r.to_csv(f'{c1}{c2}_{num_seeds}seeds.csv')

./outputs/mod3_nc_residual_exp/mod3_nc_sd240_T2403261540_res=[0, 1, 2, 3, 4]_ncTrue/mod3_nc_sd240_T2403261540_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 99.95
./outputs/mod3_nc_residual_exp/mod3_nc_sd241_T2403261928_res=[0, 1, 2, 3, 4]_ncTrue/mod3_nc_sd241_T2403261928_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 99.02
./outputs/mod3_nc_residual_exp/mod3_nc_sd242_T2403262316_res=[0, 1, 2, 3, 4]_ncTrue/mod3_nc_sd242_T2403262316_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 81.49
./outputs/mod3_nc_residual_exp/mod3_nc_sd243_T2403270301_res=[0, 1, 2, 3, 4]_ncTrue/mod3_nc_sd243_T2403270301_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/mod3_nc_residual_exp/mod3_nc_sd244_T2403270643_res=[0, 1, 2, 3, 4]_ncTrue/mod3_nc_sd244_T2403270643_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 97.14

          {}
Original   5
NoPE       5

          {0}  {1}  {2}  {3}  {4}  {5}
Original    5    5    5    5    5    5
NoPE        5    5    5    5    5    5

          {0,1}  {1,2}  {2,3}  {3,4}  {4,5}
Original      5      5      5      5      5
NoPE          5      5      5      5      5

          {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original        5        5        5        5
NoPE            5        5        5        5

          {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original          5          5          5
NoPE              5          5          5

          {0,1,2,3,4}  {1,2,3,4,5}
Original            5            5
NoPE                5            5

                      {}
NoPE (min)        89.940
NoPE (max)        96.870
NoPE (avg.)       93.836
Original (min)    98.180
Original (max)   100.000
Original (avg.)   99.326

                     {0}      {1}      {2}      {3}      {4}      {5}
NoPE (min)        93.460   89.680   95.590   91.610   96.550   90.520
NoPE (max)        98.770  100.000  100.000  100.000  100.000   99.190
NoPE (avg.)       94.942   95.738   98.816   98.224   98.896   95.038
Original (min)    88.770   87.210   99.260   99.970   99.930   81.490
Original (max)   100.000  100.000  100.000  100.000  100.000  100.000
Original (avg.)   95.138   94.486   99.778   99.994   99.986   95.520

                  {0,1}    {1,2}    {2,3}    {3,4}   {4,5}
NoPE (min)       90.920   92.180   97.400   93.680  91.310
NoPE (max)       97.820   99.960  100.000  100.000  99.900
NoPE (avg.)      95.016   96.802   99.048   98.100  97.278
Original (min)   93.930   89.670   98.610   98.780  96.080
Original (max)   99.370  100.000  100.000  100.000  99.500
Original (avg.)  96.890   93.078   99.722   99.756  98.214

                 {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
NoPE (min)         93.13   83.300   99.490   95.480
NoPE (max)         99.50   95.690  100.000  100.000
NoPE (avg.)        96.23   88.342   99.898   99.096
Original (min)     93.51   83.460   96.980  100.000
Original (max)     96.25   90.990  100.000  100.000
Original (avg.)    95.29   87.640   99.396  100.000

                 {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
NoPE (min)          82.550     86.160     94.300
NoPE (max)          87.200     92.630     99.000
NoPE (avg.)         84.896     89.006     97.192
Original (min)      83.400     82.860     33.810
Original (max)      88.930     90.440     97.480
Original (avg.)     86.642     86.686     83.986

                 {0,1,2,3,4}  {1,2,3,4,5}
NoPE (min)            82.580       36.010
NoPE (max)            90.800       90.720
NoPE (avg.)           87.400       75.870
Original (min)        85.710       80.840
Original (max)        94.610       89.060
Original (avg.)       90.006       84.248

./outputs/mod3_residual_exp/mod3_sd240_T2403251700_res=[0, 1, 2, 3, 4]/mod3_sd240_T2403251700_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/mod3_residual_exp/mod3_sd241_T2403252050_res=[0, 1, 2, 3, 4]/mod3_sd241_T2403252050_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/mod3_residual_exp/mod3_sd242_T2403260040_res=[0, 1, 2, 3, 4]/mod3_sd242_T2403260040_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/mod3_residual_exp/mod3_sd243_T2403260426_res=[0, 1, 2, 3, 4]/mod3_sd243_T2403260426_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/mod3_residual_exp/mod3_sd244_T2403260809_res=[0, 1, 2, 3, 4]/mod3_sd244_T2403260809_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0

          {}
Original   5
NoPE       5

          {0}  {1}  {2}  {3}  {4}  {5}
Original    5    5    5    5    5    5
NoPE        5    5    5    5    5    5

          {0,1}  {1,2}  {2,3}  {3,4}  {4,5}
Original      5      5      5      5      5
NoPE          5      5      5      5      5

          {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original        5        5        5        5
NoPE            5        5        5        5

          {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original          6          6          5
NoPE              5          5          5

          {0,1,2,3,4}  {1,2,3,4,5}
Original            6            6
NoPE                5            5

                      {}
NoPE (min)       100.000
NoPE (max)       100.000
NoPE (avg.)      100.000
Original (min)    99.760
Original (max)   100.000
Original (avg.)   99.858

                     {0}      {1}      {2}      {3}      {4}    {5}
NoPE (min)        98.930   79.780   98.440   99.980   98.620  100.0
NoPE (max)        99.990   99.060  100.000  100.000  100.000  100.0
NoPE (avg.)       99.590   88.108   99.684   99.996   99.720  100.0
Original (min)    98.190   89.130   98.800   99.200   98.810  100.0
Original (max)   100.000  100.000  100.000  100.000  100.000  100.0
Original (avg.)   99.298   96.900   99.746   99.836   99.762  100.0

                   {0,1}   {1,2}    {2,3}    {3,4}    {4,5}
NoPE (min)        94.920  96.140   98.570   99.980   99.990
NoPE (max)       100.000  99.930  100.000  100.000  100.000
NoPE (avg.)       98.944  98.398   99.378   99.996   99.998
Original (min)    99.520  98.250   99.930   99.670   99.710
Original (max)   100.000  99.760  100.000  100.000  100.000
Original (avg.)   99.824  99.058   99.986   99.928   99.906

                 {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
NoPE (min)        99.940   79.720   77.960   33.350
NoPE (max)       100.000   94.470   99.150   33.990
NoPE (avg.)       99.974   89.012   92.662   33.670
Original (min)    99.090   88.960   82.210   33.640
Original (max)   100.000   94.820   98.740   33.990
Original (avg.)   99.498   90.902   94.848   33.776

                 {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
NoPE (min)       85.140000     33.420     33.350
NoPE (max)       94.920000     34.490     33.990
NoPE (avg.)      90.644000     33.832     33.658
Original (min)   33.380000     33.180     33.510
Original (max)   96.240000     33.910     33.990
Original (avg.)  70.628333     33.620     33.750

                 {0,1,2,3,4}  {1,2,3,4,5}
NoPE (min)            33.580    33.350000
NoPE (max)            33.980    33.990000
NoPE (avg.)           33.736    33.658000
Original (min)        33.580    33.590000
Original (max)        33.950    34.240000
Original (avg.)       33.780    33.843333

./outputs/modp_nc_residual_exp/modp_nc_sd240_T2403270829_res=[0, 1, 2, 3, 4]_ncTrue/modp_nc_sd240_T2403270829_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/modp_nc_residual_exp/modp_nc_sd241_T2403271344_res=[0, 1, 2, 3, 4]_ncTrue/modp_nc_sd241_T2403271344_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/modp_nc_residual_exp/modp_nc_sd242_T2403271902_res=[0, 1, 2, 3, 4]_ncTrue/modp_nc_sd242_T2403271902_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/modp_nc_residual_exp/modp_nc_sd243_T2403280022_res=[0, 1, 2, 3, 4]_ncTrue/modp_nc_sd243_T2403280022_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0
./outputs/modp_nc_residual_exp/modp_nc_sd244_T2403280543_res=[0, 1, 2, 3, 4]_ncTrue/modp_nc_sd244_T2403280543_res=[0, 1, 2, 3, 4]_ncTrue/result.csv Original {5} 100.0

          {}
Original   5
NoPE       5

          {0}  {1}  {2}  {3}  {4}  {5}
Original    5    5    5    5    5    5
NoPE        5    5    5    5    5    5

          {0,1}  {1,2}  {2,3}  {3,4}  {4,5}
Original      5      5      5      5      5
NoPE          5      5      5      5      5

          {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original        5        5        5        5
NoPE            5        5        5        5

          {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original          5          5          5
NoPE              5          5          5

          {0,1,2,3,4}  {1,2,3,4,5}
Original            5            5
NoPE                5            5

                      {}
NoPE (min)        46.710
NoPE (max)        47.440
NoPE (avg.)       47.078
Original (min)    99.440
Original (max)   100.000
Original (avg.)   99.852

                    {0}      {1}      {2}      {3}      {4}      {5}
NoPE (min)        46.89   47.090   47.470   47.210   47.010   46.810
NoPE (max)        47.56   48.180   48.170   48.290   47.950   48.000
NoPE (avg.)       47.21   47.812   47.864   47.842   47.538   47.422
Original (min)   100.00  100.000  100.000  100.000  100.000  100.000
Original (max)   100.00  100.000  100.000  100.000  100.000  100.000
Original (avg.)  100.00  100.000  100.000  100.000  100.000  100.000

                   {0,1}    {1,2}    {2,3}    {3,4}    {4,5}
NoPE (min)        46.880   47.640   47.020   47.390   47.700
NoPE (max)        48.020   48.190   48.260   47.930   48.170
NoPE (avg.)       47.436   47.930   47.776   47.696   47.926
Original (min)   100.000   99.470  100.000  100.000  100.000
Original (max)   100.000  100.000  100.000  100.000  100.000
Original (avg.)  100.000   99.894  100.000  100.000  100.000

                 {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
NoPE (min)        47.150   47.450   47.680   47.810
NoPE (max)        48.220   48.310   48.060   48.260
NoPE (avg.)       47.694   47.944   47.822   48.022
Original (min)   100.000  100.000   99.970  100.000
Original (max)   100.000  100.000  100.000  100.000
Original (avg.)  100.000  100.000   99.994  100.000

                 {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
NoPE (min)           46.72     47.470     47.670
NoPE (max)           48.05     48.010     48.350
NoPE (avg.)          47.47     47.724     47.978
Original (min)      100.00    100.000     99.620
Original (max)      100.00    100.000    100.000
Original (avg.)     100.00    100.000     99.924

                 {0,1,2,3,4}  {1,2,3,4,5}
NoPE (min)            47.260        47.39
NoPE (max)            48.290        48.12
NoPE (avg.)           47.826        47.91
Original (min)        99.730       100.00
Original (max)       100.000       100.00
Original (avg.)       99.946       100.00

./outputs/modp_residual_exp/modp_sd240_T2403271145_res=[0, 1, 2, 3, 4]/modp_sd240_T2403271145_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/modp_residual_exp/modp_sd241_T2403271657_res=[0, 1, 2, 3, 4]/modp_sd241_T2403271657_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/modp_residual_exp/modp_sd242_T2403272217_res=[0, 1, 2, 3, 4]/modp_sd242_T2403272217_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/modp_residual_exp/modp_sd243_T2403280339_res=[0, 1, 2, 3, 4]/modp_sd243_T2403280339_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0
./outputs/modp_residual_exp/modp_sd244_T2403280855_res=[0, 1, 2, 3, 4]/modp_sd244_T2403280855_res=[0, 1, 2, 3, 4]/result.csv Original {5} 100.0

          {}
Original   5
NoPE       5

          {0}  {1}  {2}  {3}  {4}  {5}
Original    5    5    5    5    5    5
NoPE        5    5    5    5    5    5

          {0,1}  {1,2}  {2,3}  {3,4}  {4,5}
Original      5      5      5      5      5
NoPE          5      5      5      5      5

          {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
Original        5        5        5        5
NoPE            5        5        5        5

          {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
Original          5          5          5
NoPE              5          5          5

          {0,1,2,3,4}  {1,2,3,4,5}
Original            5            5
NoPE                5            5

                     {}
NoPE (min)        99.77
NoPE (max)       100.00
NoPE (avg.)       99.94
Original (min)   100.00
Original (max)   100.00
Original (avg.)  100.00

                     {0}    {1}      {2}    {3}    {4}    {5}
NoPE (min)        99.990  100.0   99.330  100.0  100.0  100.0
NoPE (max)       100.000  100.0  100.000  100.0  100.0  100.0
NoPE (avg.)       99.998  100.0   99.866  100.0  100.0  100.0
Original (min)   100.000  100.0  100.000  100.0  100.0  100.0
Original (max)   100.000  100.0  100.000  100.0  100.0  100.0
Original (avg.)  100.000  100.0  100.000  100.0  100.0  100.0

                   {0,1}    {1,2}   {2,3}    {3,4}    {4,5}
NoPE (min)        99.170   99.960   99.63  100.000   99.350
NoPE (max)       100.000  100.000  100.00  100.000  100.000
NoPE (avg.)       99.676   99.988   99.92  100.000   99.854
Original (min)   100.000  100.000   99.96   99.910  100.000
Original (max)   100.000  100.000  100.00  100.000  100.000
Original (avg.)  100.000  100.000   99.99   99.982  100.000

                 {0,1,2}  {1,2,3}  {2,3,4}  {3,4,5}
NoPE (min)        99.170   99.130   99.330  100.000
NoPE (max)       100.000  100.000  100.000  100.000
NoPE (avg.)       99.734   99.826   99.862  100.000
Original (min)    99.960  100.000   99.840   99.630
Original (max)   100.000  100.000  100.000  100.000
Original (avg.)   99.992  100.000   99.968   99.926

                 {0,1,2,3}  {1,2,3,4}  {2,3,4,5}
NoPE (min)          99.160     97.390     84.870
NoPE (max)          99.990    100.000     99.890
NoPE (avg.)         99.702     99.456     94.064
Original (min)      93.500     80.800     99.210
Original (max)     100.000    100.000    100.000
Original (avg.)     98.634     96.160     99.832

                 {0,1,2,3,4}  {1,2,3,4,5}
NoPE (min)            54.400       36.410
NoPE (max)            99.890       89.620
NoPE (avg.)           83.668       63.036
Original (min)        33.670       33.490
Original (max)        98.630       97.390
Original (avg.)       62.042       60.590